<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.util.dao.huowuMapper">

	<select id="list" resultType="com.util.pojo.huowu">
		SELECT * FROM huowu
	</select>
</mapper>