<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.util.dao.MerchantsMapper">
	<select id="selectAll" resultType="com.util.pojo.Merchants" parameterType="string">
		SELECT * FROM merchants where 1=1 
		<if test="_parameter != null and _parameter != ''">
	     and affiliated_Company LIKE CONCAT('%',#{_parameter},'%')
	    </if>
	</select>
	
	<delete id="delete" >
	delete from merchants where id=#{id}
	</delete>
	
	<select id="chaId" resultType="com.util.pojo.Merchants" >
		SELECT * FROM merchants where id=#{id}
	</select>
	
	<update id="update">
	 update merchants set 
	 affiliated_Company=#{affiliated_Company},merchants_Type=#{merchants_Type},contact=#{contact},mailbox=#{mailbox},
	 telephone=#{telephone},`mobile_phone`=#{mobile_phone},`postal_code`=#{postal_code},`alipay`=#{alipay}
	 ,`fax`=#{fax} where id=#{id}
	</update>
	
	<insert id="MerchantsInsert" useGeneratedKeys="true">
	insert merchants(affiliated_Company,merchants_Type,contact,mailbox,telephone,`mobile_phone`,postal_code,alipay,fax)
	              value(#{affiliated_Company},#{merchants_Type},#{contact},#{mailbox},#{telephone},#{mobile_phone},#{postal_code}
	              ,#{alipay},#{fax})
	</insert>
</mapper>