<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.util.dao.OrderManagementMapper">
	<select id="selectList" resultType="com.util.pojo.order">
		select * from `order`
	</select>
</mapper>